body.html {

  #page {
    width: 994px;
    #main {
      width: 100%;
      padding-right: 0;
      font-size: 1.6em;
      .breadcrumbs, .tabs {
        font-size: 0.6em;
      }
    }
  }
}

body.html.front {

  #page {
    width: 1100px;
  }

  .block-views-nodequeue-1-block table {
    width: 100%;
    border-spacing: 28px;
  }
}