/* ==================================================================
   Table of Contents
   ==================================================================
::
:: Sass Imports
:: Sass Functions
:: Sass Mixins
:: Main Mixin
:: - Grid
:: - Typography
:: - Header et menu
:: - Colonne Centrale
:: - Colonne Droite
:: - Footer
:: - Orbit Slider

*/

/* -----------------------------------------
   Sass Imports
   ----------------------------------------- */

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import 'modular-scale';

/* -----------------------------------------
   Sass Functions
   ----------------------------------------- */

/* modular scale settings */
$base-size: 12px;
$ratio: major-second();

/* Convert px to em for typography */
@function emCalc($target){
  @return ($target/15px)+0em;
}

/* -----------------------------------------
   Sass Mixins
   ----------------------------------------- */

/* ie compatible border-radius */
@mixin ie-border-radius ($radius) {
  @include border-radius($radius);
  behavior: url(/easpd/sites/all/themes/easpd/iehacks/PIE.htc);
}

/* Generate heading's sizes using modular-scale */
@mixin heading($scale-number) {
  font-size: emCalc(ms($scale-number));
  margin: ms($scale-number)/4 0 ms($scale-number)/3 0;
}

/* A button with an arrow */
@mixin bouton_fleche($couleur, $image_fleche) {
  display: inline-block;
  color: white;
  font-size: emCalc(14px);
  font-weight: bold;
  margin-top: 6px;
  padding: 9px 40px 9px 10px;
  text-transform: uppercase;
  @include ie-border-radius(5px);
  @include background(image-url($image_fleche) no-repeat scroll right center $couleur);
}

/* The blocs on the homepage */
@mixin bloc ($darkBlue, $lightBlue) {
  background-color: white;
  @include ie-border-radius(5px);
  padding: 0 30px !important;
  margin-bottom: 23px;
  .view-header {
    font-style: italic;
    left: 150px;
    position: relative;
    text-decoration: underline;
    top: -23px;
    color: $darkBlue;
    font-size: emCalc(14px);
  }
  h2 {
    @extend .titre_bloc;
  }
  h3 {
    @extend .titre_article;
  }
  p {
    font-size: emCalc(14px);
    line-height: 1.2;
    .readmore {
      @extend .bouton_bleu_clair;
    }
  }
  .date {
    float: left;
    color: $lightBlue;
    text-transform: uppercase;
    margin: 7px 5px 0 0;
    font-size: emCalc(14px);
  }
}

/* The bloc titles in the sidebar */
@mixin titre_bloc_sidebar ($icone, $lighterBlue, $darkYellow) {
  @include background(image-url($icone) no-repeat scroll 15px center $lighterBlue);
  color: $darkYellow;
  @include ie-border-radius(0 5px 5px 0);
  width: 270px;
  min-height: 43px;
  vertical-align: center;
  position: relative;
  top: -1px;
  padding: 0px 0 0 56px;
  font-size: emCalc(27px);
  margin-bottom: 12px;
}

/* Grid helpers */
@mixin full-width($page-width) {
  width: 100%;
  min-width: $page-width;
}

@mixin content-width($page-width) {
  width: $page-width;
  margin: auto;
}

/* -----------------------------------------
   Main Mixin
   ----------------------------------------- */

@mixin styles-easpd($darkBlue, $darkBlue-w, $lightBlue, $lightBlue-w, $lighterBlue, $lightestBlue, $blueBackground, $lightYellow, $darkYellow, $darkYellow-w, $lightGrey, $darkGrey, $white, $typo-bleu, $typo-bleuPale, $typo-bleuClair, $typo-vert, $typo-turquoise, $typo-violet, $typo-orange) {

/* -----------------------------------------
   Grid
   ----------------------------------------- */

$page-width: 1010px;
$content-padding: 8px;

@include full-width($page-width);

#top-container {
  position: absolute;
  z-index: 1;
  @include full-width($page-width);
}

#top {
  @include content-width($page-width);
  #language_switcher {
    float: right;
    .block {
      clear: both;
      float: right;
    }
  }
}

#header {
  @extend .row;
  #logo {
    @extend .large-3;
    @extend .columns;
  }
  .block-block-2 {
    @extend .large-9;
    @extend .columns;
  }
}

nav {
  $menu-bar-width: 760px;
  @include content-width($page-width);
  padding: 0 $content-padding;
  .block-superfish-1 {
    float: left;
    width: $menu-bar-width - $content-padding;
  }
  .block-search-form {
    width: $page-width - $menu-bar-width - $content-padding;
    float: right;
  }
}


#page {
  $main-col-width: 701px;
  @include content-width($page-width);
  padding: 0 $content-padding;
  #main {
    $main-padding: 12px;
    $gutter: 12px;
    width: $main-col-width;
    padding-right: $main-padding;
    float: left;
    .block-views-last-publications-block {
      width: ($main-col-width - $main-padding - $gutter) / 2;
      margin-right: $gutter;
      float: left;
    }
    .block-views-press-releases-block {
      width: ($main-col-width - $main-padding - $gutter) / 2;
      float: right;
    }
  }
  #sidebar {
    width: $page-width - (2 * $content-padding) - $main-col-width;
    float: right;
  }
}

footer {
  clear: both;
  @extend .row;
  #footer-first, #footer-middle, #footer-last {
    @extend .large-4;
    @extend .columns;
  }
}

/* -----------------------------------------
   Typography
   ----------------------------------------- */

.bleu {
  color: $typo-bleu      !important;
}
.bleu-pale {
  color: $typo-bleuPale  !important;
}
.bleu-clair {
  color: $typo-bleuClair !important;
}
.vert {
  color: $typo-vert      !important;
}
.turquoise {
  color: $typo-turquoise !important;
}
.violet {
  color: $typo-violet    !important;
}
.orange {
  color: $typo-orange    !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $darkBlue;
}
h1 {
    @include heading(7);
}
h2 {
    @include heading(6);
}
h3 {
    @include heading(5);
}
h4 {
    @include heading(4);
}
h5 {
    @include heading(3);
}
h6 {
    @include heading(2);
}
p, caption {
    font-size: emCalc(ms(1));
    margin-bottom: ms(1)/2;
}
li {
    font-size: emCalc(ms(1));
    list-style-position: inside;
}

#admin-menu {
  li {
    font-size: 11px;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}

*:focus {
  border-style: dotted;
  border-width: 1px;
  border-color: $darkBlue;
}

/* -----------------------------------------
   Header et menu
   ----------------------------------------- */

#language_switcher {
  & > div {
    float: right;
  }
  ul {
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 0px 7px;
    text-transform: uppercase;
    background-color: $lightBlue;
    @include ie-border-radius(0 0 4px 4px);
    &.active {
      background-color: $darkBlue;
    }
    &.disabled {
      background-color: darken($lightYellow, 10);
    }
    a {
      color: $white;
      font-weight: bold;
      font-size: emCalc(13px);
    }
  }
  /* text resizer */
  .block-block-8 {
    position: relative;
    top: 18px;
    right: 10px;
    a.changer {
      cursor: pointer;
      display: block;
      float: right;
      position: relative;
      outline: medium none;
      text-indent: -9000px;
      &#text_resize_decrease {
        @include background(image-url("text_resize_minus.gif") no-repeat scroll 0 0 transparent);
        width: 10px;
        height: 10px;
        top: 5px;
        left: -10px;
      }
      &#text_resize_reset {
        @include background(image-url("text_resize_reset.gif") no-repeat scroll 0 0 transparent);
        width: 12px;
        height: 12px;
        top: 3px;
        left: -5px;
      }
      &#text_resize_increase {
        @include background(image-url("text_resize_plus.gif") no-repeat scroll 0 0 transparent);
        width: 13px;
      }
    }
  }
  .block-switch-styles {
    margin-top: 20px;
    li {
      @include ie-border-radius(4px);
      background-color: black;
      font-size: 0.65em;
      line-height: 20px;
      a { color: white }
    }
  }
}

#header-container {
  @include background(image-url("header_background.png") no-repeat scroll center 0);
  background-color: $lightYellow;
  height: 189px;
  #logo {
    a {
      display: block;
    }
    img {
      height: 189px;
      min-width: 224px;
    }
  }
  .block-block-2 {
    color: $darkBlue;
    text-transform: uppercase;
    font-family: $body-font-family;
    font-stretch: semi-condensed;
    width: 550px;
    position: relative;
    top: 80px;
    left: 10px;
    p {
      font-size: emCalc(12px);
    }
    em {
      color: $lightBlue;
      font-weight: bold;
    }
  }
}

#nav-container {
  background-color: $darkYellow;
  height: 51px;
}

.barrenav {
  position: relative;
  top: -1px;
  margin: 0;
  height: 52px;
  background-color: $lightGrey;
  border-style: solid;
  border-width: 1px;
  border-color: #dedede;
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.09));
}

nav .block-superfish-1 {
  padding-right: 0;
  #superfish-1 {
    @extend .barrenav;
    @include ie-border-radius(5px 0 0 5px);
    border-right: none;
    > li.first a {
      @include ie-border-radius(5px 0 0 5px);
      width: 46px;
      @include background(image-url("home_icon.png") no-repeat scroll center center);
      text-indent: -99999px;
    }
    li {
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: $lightGrey;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #dedede;
      @include box-shadow(1px 1px 3px white inset);
      &:hover, & a:focus {
        background-color: darken($lightGrey, 10);
        @include box-shadow(1px 1px 3px darken($lightGrey, 20) inset);
      }
      a {
        height: 100%;
        font-family: $header-font-family;
        font-size: emCalc(13px);
        font-weight: bold;
        color: $darkGrey;
        display: block;
        padding: 18px 18px 0px 18px;
      }
      ul {
        margin-top: 8px;
        li {
          background-color: $lightGrey;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: #dedede;
          @include box-shadow(1px 1px 3px white inset);
          a {
              padding: 10px 18px;
          }
          ul {
            margin-left: -8px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

nav .block-search-form {
  padding-left: 0;
  left: -1px;
  form {
    @extend .barrenav;
    padding-left: 15px;
    @include ie-border-radius(0 5px 5px 0);
    border-left: none;
    div {
      width: 100%;
      height: 100%;
    }
    .form-item {
      margin: 0;
      position: relative;
      top: 7px;
    }
    #edit-search-block-form--2 {
      width: 175px;
      border-style: solid;
      border-width: 1px;
      border-color: #dedede;
      @include ie-border-radius(3px);
    }
    input[type="submit"] {
      @include background(image-url("search_icon.png") no-repeat scroll center center);
      border: none;
      position: relative;
      top: -45px;
      height: 37px;
      left: 176px;
      width: 50px;
      color: transparent;
      @include box-shadow(none);
      &:hover { cursor: pointer; }
    }
  }
}

#page {
  margin-top: 25px;
}

/* -----------------------------------------
   Colonne Centrale
   ----------------------------------------- */

.breadcrumbs > li {
  font-size: 0.6875em;
}

.alert-box a {
  color: red;
}

.thumbnail {
  float: right;
}

.tabs {
  dd {
    font-size: emCalc(13px);
    display: inline-block;
    padding: 3px 12px;
    position: relative;
    margin: 0;
    border-color: $lightBlue;
    border-style: solid;
    border-width: 1px;
    background-color: $lightBlue;
    @include ie-border-radius(7px 7px 0 0);
    @include box-shadow($white 0px 1px 4px -4px inset, 1px 1px 11px -9px $lightBlue inset);
    a {
      position: relative;
      top: 1px;
      font-weight: bold;
      color: $white
    }
    &.active {
      a {
        color: $darkBlue;
      }
      background-color: $lightestBlue;
      border-bottom: none;
      @include ie-border-radius(7px 7px 0 0);
    }
    &:hover {
      a {
        color: $white;
        text-decoration: none;
      }
      background-color: $darkBlue;
    }
  }
}

.titre_bloc {
  display: inline-block;
  padding: 0 15px;
  margin: 0;
  @include ie-border-radius(0 0 8px 8px);
  background-color: $darkBlue;
  color: white;
  font-size: emCalc(28px);
}

.titre_article {
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: semi-condensed;
  margin: 4px 0 3px;
  font-size: emCalc(14px);
}

.bouton_bleu_clair {
  @include bouton_fleche($lightBlue, 'fleche_bouton_clair.png');
}

.block-views-newsflashes-block {
  @include bloc($darkBlue, $lightBlue);
  .view-content {
    @extend .row;
  }
  .views-row-1 {
    @extend .columns;
    @extend .large-12;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    margin-bottom: 10px;
    .date {
      margin-top: 3px;
    }
    .logo {
      float: left;
      margin: 5px 15px 0 0;
      a {
        display: block;
        width: 200px;
        height: 139px;
        @include background(image-url('cadre_news_grand.png'));
        padding: 5px 4px;
      }
    }
  }
  .views-row-2, .views-row-3, .views-row-4 {
    @extend .columns;
    @extend .large-4;
    .views-field-body p {
      clear: both;
    }
    .logo {
      width: 200px;
      height: 105px;
      @include background(image-url('cadre_news_petit.png'));
      a {
        position: relative;
        display: block;
        padding: 5px 4px;
        overflow: hidden;
        height: 97px;
        top: 4px;
        img {
          position: relative;
          top: -20px;
        }
      }
    }
  }
}

.block-views-last-publications-block {
  @include bloc($darkBlue, $lightBlue);
  padding-bottom: 30px !important;
  h2 {
    margin-bottom: 15px;
  }
  .logo {
    float: right;
    padding-left: 5px;
  }
  .readmore {
    clear: both;
    float: right;
  }
  .views-row {
    clear: both;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: $darkBlue;
    position: relative;
    top: 15px;
    padding-top: 5px;
    &.views-row-first {
      border: none;
      top: 0;
      padding-top: 0;
    }
  }
}

.block-views-press-releases-block {
  @include bloc($darkBlue, $lightBlue);
  h2 {
    margin-bottom: 15px;
  }
  h3 {
    font-weight: normal;
    color: $lightBlue !important;
  }
  p {
    clear: both;
    margin-bottom: 10px !important;
  }
  .views-row {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: $darkBlue;
  }
  .view-footer h3 {
    text-decoration: underline;
    font-style: italic;
    text-transform: capitalize;
    margin: 10px 0 25px;
    &:focus {
      margin: 10px 0 25px;
    }
  }
}

.bordure-image {
  border-style: solid;
  border-width: 1px;
  border-color: $lightGrey;
  margin: 0 0 10px 5px;
  padding: 2px;
  @include ie-border-radius(2px);
}

.view-display-id-page .view-content {
  .views-row {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lighten($lightBlue, 30%);
    margin-top: 15px;
    padding-top: 10px;
    clear: both;
    .logo, .image {
      @extend .bordure-image;
      float: right;
    }
  }
}

.file {
  margin-top: 30px;
}

.image img {
  @extend .bordure-image;
  margin: auto;
}

.field-name-field-gallery {
  margin-top: 30px;
}

.field-name-field-files {
  .field-label {
    margin: 5px 0;
  }
}

article img {
  margin: auto;
  display: block;
}

.node-gallery a {
  display: inline-block;
}

/* -----------------------------------------
   Colonne Droite
   ----------------------------------------- */

.cadre_bleu {
  background-color: $blueBackground;
  @include ie-border-radius(10px);
}

#sidebar {
  font-size: emCalc(14px);
  .form-type-textfield, .form-type-password {
    margin-left: 25px;
    width: 250px;
    @include ie-border-radius(5px);
  }
  .block {
    clear: both;
  }
}

#sidebar-first {
  @extend .cadre_bleu;
  @include background(image-url('carte_europe.png') no-repeat scroll center 17px $lightBlue);
  padding-top: 275px;
  padding-bottom: 10px;
}

.block-user-login {
  h2 {
    @include titre_bloc_sidebar('icone_login.png', $lighterBlue, $darkYellow);
  }
  form > div > .item-list {
    float: right;
    margin-right: 34px;
    ul {
      list-style: none;
      margin: 0;
    }
    li a {
      color: $lightYellow;
      font-size: emCalc(13px);
      font-style: italic;
    }
  }
  .bouton {
    @include bouton_fleche($darkBlue, 'fleche_bouton_fonce.png');
    clear: both;
    float: right;
    margin-right: 34px;
  }
  input[type="submit"] {
    font-family: $body-font-family;
    box-shadow: none;
    border: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .signup {
    h3 {
      margin-left: 25px;
      color: $darkYellow;
      clear: both;
      position: relative;
      top: 8px;
    }
    a {
      margin-bottom: 20px;
    }
  }
}

.block-views-events-calendar-block-1 {
  h2 {
    @include titre_bloc_sidebar('icone_calendrier.png', $lighterBlue, $darkYellow);
  }
  .view-header {
    margin: 0 35px;
    .date-nav-wrapper {
      height: 32px;
    }
    .date-nav {
      padding: 0;
      margin: 0;
      min-height: 0;
    }
    h3 {
      text-transform: uppercase;
      font-size: emCalc(18px) !important;
      position: relative;
      top: -2px;
      a {
        color: $darkBlue-w;
        position: relative;
        top: 3px;
      }
    }
    .pager li {
      @include background(transparent);
      margin: 0;
    }
  }
  .view-content {
    margin: 0 35px 20px;

    table.mini {
      thead {
        line-height: 30px;
      }
      th, td {
        color: $white;
        text-transform: uppercase;
        font-weight: normal;
        background-color: $lightBlue !important;
        border: none;
        text-align: center;
        vertical-align: middle;
      }
      th {
        font-size: emCalc(11px);
      }
      td {
        font-size: emCalc(13px);
        border-width: 1px;
        border-style: solid;
        border-color: lighten($lightBlue, 20%);
        padding: 8px;
        &.empty {
          border: none;
        }
        &.today {
          font-weight: bold;
          color: $darkYellow;
        }
        &.has-events {
          background-color: $darkYellow;
          color: $darkBlue;
          text-decoration: none !important;
        }
      }
    }
  }
}

.block-views-upcoming-events-block {
  color: $white;
  h2 {
    @include titre_bloc_sidebar('icone_events.png', $lighterBlue, $darkYellow);
  }
  .event {
    margin: 0 30px;
    p {
      font-size: emCalc(13px);
      color: lighten($lightBlue-w, 32%);
    }
    h3 {
      @extend .titre_article;
      a { color: $white; }
    }
    .date {
        float: left;
        text-transform: uppercase;
        margin: 3.5px 5px 0 0;
        font-size: emCalc(14px);
    }
  }
}

#sidebar-second {
  margin-top: 30px;
  @extend .cadre_bleu;
}

.block-simplenews-0 {
  padding: 30px 0 50px;
  h2 {
    @include titre_bloc_sidebar('icone_newsletter.png', $lighterBlue, $darkYellow);
  }
  p, #simplenews-subscriptions-multi-block-form {
    margin: 0 30px;
  }
  p {
    font-size: emCalc(13px);
    color: $white;
  }
  label.option {
    color: $white;
  }
  #edit-newsletters .form-checkbox {
    margin: 6px;
  }
  .form-item-mail {
    margin: 0 !important;
  }
  #edit-subscribe, #edit-update {
    @include bouton_fleche($darkBlue, 'fleche_bouton_fonce.png');
    font-family: $body-font-family;
    font-size: emCalc(12.5px);
    border: none;
    float: right;
    margin-right: 4px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  #edit-unsubscribe {
    background-color: transparent;
    border: none;
    color: $darkYellow;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.block-block-7 {
  h2 {
    @include titre_bloc_sidebar('icone_newsflashes.png', $lighterBlue, $darkYellow);
  }
  p {
    margin: 0 34px;
    color: $white;
    font-size: emCalc(13px);
    a {
      @include bouton_fleche($darkBlue, 'fleche_bouton_fonce.png');
      float: right;
    }
  }
}

.block-views-sidebar-gallery-block {
  padding-top: 15px;
  h2 {
    @include titre_bloc_sidebar('icone_galerie.png', $lighterBlue, $darkYellow);
  }
  h3 {
    text-transform: uppercase;
    color: $darkBlue;
    font-size: emCalc(13px);
    text-align: center;
    position: relative;
    top: -16px;
    z-index: 0;
    a { color: $darkBlue-w; }
  }
  .orbit-container {
    width: 223px;
    height: 168px;
    background-color: $lightBlue;
    margin: auto;
    .orbit-slide-number { display: none; }
    .orbit-prev {
      text-indent: 99999px;
      span { border: none; }
      @include background(image-url('pager_prev.png') no-repeat center transparent);
      position: absolute;
      top: 156px;
      left: -15px;
      z-index: 1;
    }
    .orbit-next {
      text-indent: 99999px;
      span { border: none; }
      @include background(image-url('pager_next.png') no-repeat center transparent);
      position: absolute;
      top: 156px;
      right: -15px;
      z-index: 1;
    }
    img {
      border-color: $white;
      border-width: 3px;
      border-style: solid;
    }
  }
}

/* -----------------------------------------
   Footer
   ----------------------------------------- */

footer {
  color: $lightBlue;
  font-size: emCalc(14px);
  p {
    margin: 0;
  }
  #footer-first {
    text-align: left;
  }
  #footer-middle {
    text-align: center;
  }
  #footer-last {
    text-align: right;
  }
}

/* -----------------------------------------
   Orbit Slider
   ----------------------------------------- */

#highlight {
  @include background(image-url("fond_slideshow.png") no-repeat);
  padding: 8px;
  max-width: 686px;
  margin: auto;
  .orbit-container {
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    @include ie-border-radius(1px);
  }
  .orbit-prev {
    @include background(image-url("slideshow_fleche_gauche.png") no-repeat scroll left center);
    span { border: none; } /* pour virer les flèches en css */
  }
  .orbit-next {
    @include background(image-url("slideshow_fleche_droite.png") no-repeat scroll right center);
    span { border: none; } /* pour virer les flèches en css */
  }
  .orbit-caption {
    width: 80%;
    margin: 0 10%;
    background-color: fade_out($darkYellow-w, 0.1);
    h2 a, h2 {
      text-transform: uppercase;
      font-size: emCalc(16px);
      color: $darkBlue;
      margin: 1px 0;
    }
    p {
      font-size: emCalc(15px);
      color: darken($darkBlue, 15);
      margin-bottom: 0;
      a {
        color: $darkBlue;
        text-decoration: underline;
        margin-left: 0.5em;
      }
    }
  }
  .orbit-bullets {
    display: table;
    top: 15px;
    li {
      height: 21px;
      width: 21px;
      border: none;
      @include background(image-url("slideshow_bullet_inactive.png") no-repeat);
      &.active {
        @include background(image-url("slideshow_bullet_active.png") no-repeat);
      }
    }
  }
}

/* fin mixin styles-easpd */
};