@import "base";
@import "compass/css3/border-radius";

/* ==========================================================================
   Table of Contents
   ==========================================================================
:: Grid
:: Typography
:: Decoration
:: Admin Bar

*/

/* -----------------------------------------
   Grid
   ----------------------------------------- */

#top-container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

#top {
  @extend .row;
  #language_switcher {
    @extend .three;
    @extend .columns;
    @extend .push-nine;
  }
}

#header {
  @extend .row;
  #logo {
    @extend .three;
    @extend .columns;
  }
  .block-block-2 {
    @extend .nine;
    @extend .columns;
  }
}  

nav {
  @extend .row;
  .block-system-main-menu {
    @extend .nine;
    @extend .columns;
    clear: both;
  }
  .block-search-form {
    @extend .three;
    @extend .columns;
  }
}

#page {
  @extend .row;
  #main {
    @extend .nine;
    @extend .columns;
  }
  #sidebar {
    @extend .three;
    @extend .columns;
  }
}

#footer {
  @extend .row;
  #footer-first, #footer-middle, #footer-last {
    @extend .four;
    @extend .columns;
  }
}

/* -----------------------------------------
   Typography
   ----------------------------------------- */

a {
  &:hover {
    text-decoration: underline;
  }
}

/* -----------------------------------------
   Decoration
   ----------------------------------------- */

body {
  border-top-color: $darkBlue;
  border-top-width: 4px;
  border-top-style: solid;
}

#language_switcher {
  ul {
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 3px 7px;
    text-transform: uppercase;
    background-color: $lightBlue;
    @include border-radius(0 0 4px 4px);
    &.active {
      background-color: $darkBlue;
    }
    &.disabled {
      background-color: darken($lightYellow, 10);
    }
    a {
      color: $white;
      font-weight: bold;
      font-size: ms(0);
    }
  }
}

#header-container {
  @include background(image-url("header_background.png") no-repeat scroll center 0);
  background-color: $lightYellow;
  height: 189px;
  .block-block-2 {
    color: $darkBlue;
    text-transform: uppercase;
    padding: 77px 195px 0 30px;
    font-family: $bodyFontFamily;
    font-stretch: semi-condensed;
    p {
      font-size: 14px;
    }
    em {
      color: $lightBlue;
      font-weight: bold;
    }
  }
}

#nav-container {
  background-color: $darkYellow;
  height: 50px;
}

nav .block-system-main-menu {
  .menu {
    @extend .nav-bar;
    margin: 0;
    height: 50px;
  }
}

/* -----------------------------------------
   Admin Bar
   ----------------------------------------- */

html body.admin-menu {
    margin-top: 32px !important;
}

