@import "base";

/* couleurs pré-définies pour les éditeurs */
$typo-bleu:      $darkBlue;
$typo-bleuPale:  #92afd8;
$typo-bleuClair: #0291c0;
$typo-vert:      #002f2f;
$typo-turquoise: #048b9a;
$typo-violet:    #672b7d;
$typo-orange:    #ff9600;

.bleu {
  color: $typo-bleu      !important;
}
.bleu-pale {
  color: $typo-bleuPale  !important;
}
.bleu-clair {
  color: $typo-bleuClair !important;
}
.vert {
  color: $typo-vert      !important;
}
.turquoise {
  color: $typo-turquoise !important;
}
.violet {
  color: $typo-violet    !important;
}
.orange {
  color: $typo-orange    !important;
}

/* modular scale settings */
@import 'modular-scale';
$base-size: 13px;
$ratio: major-second();

@mixin heading($scale-number) {
  font-size: ms($scale-number);
  margin: ms($scale-number)/4 0 ms($scale-number)/3 0;
}

body {
  h1, h2, h3, h4, h5, h6 {
    color: $darkBlue;
  }
  h1 {
    @include heading(7);
  }
  h2 {
    @include heading(6);
  }
  h3 {
    @include heading(5);
  }
  h4 {
    @include heading(4);
  }
  h5 {
    @include heading(3);
  }
  h6 {
    @include heading(2);
  }
  p, caption {
    font-size: ms(1);
    margin-bottom: ms(1)/2;
  }
  li {
    font-size: ms(1);
  }
}
