/* ------------------------------------- 
		VARIABLES 
------------------------------------- */
/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* {
  margin: 0;
  padding: 0; }

* {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.collapse {
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  background-color: #ecf2f9; }

td {
  padding: 0 !important; }

/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
img {
  max-width: 100%; }

a {
  color: #184996; }

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap {
  width: 100%; }

.jaune-fonce {
  background-color: #ffd200; }

.body-top {
  background-color: #184996; }

.fond-jaune {
  background-color: #ffe35e;
  min-width: 20px;
  width: 50%; }

.fond-jaune-pale {
  background-color: #ffea85;
  min-width: 20px;
  width: 50%; }

.header p {
  margin: 0; }

.title {
  background-color: #f6f6f6;
  border-color: #dedede;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px; }
  .title h1 {
    font-size: 25px;
    font-weight: bold;
    padding: 12px 10px 10px 10px;
    color: #555555; }

/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap {
  width: 100%; }

/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap {
  width: 100%;
  clear: both !important; }

.footer-wrap .container td.content p {
  border-top: 1px solid #d7d7d7;
  padding-top: 15px; }

.footer-wrap .container td.content p {
  font-size: 10px;
  font-weight: bold; }

/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #184996; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #184996;
  line-height: 0;
  text-transform: none; }

h1 {
  font-weight: 200;
  font-size: 44px; }

h2 {
  font-weight: 200;
  font-size: 37px;
  margin-top: 15px; }

h3 {
  font-weight: 500;
  font-size: 27px; }

h4 {
  font-weight: 500;
  font-size: 23px; }

h5 {
  font-weight: 900;
  font-size: 17px; }

h6 {
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  color: #184996; }

.collapse {
  margin: 0 !important; }

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6; }

p.lead {
  font-size: 17px; }

p.last {
  margin-bottom: 0px; }

ul li {
  margin-left: 5px;
  list-style-position: inside; }

/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block !important;
  max-width: 801px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important; }

.container.header {
  max-width: 1025px !important; }

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  /*	padding:15px; */
  max-width: 750px;
  margin: 0 auto;
  display: block; }

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%; }

/* Odds and ends */
.column {
  width: 300px;
  float: left; }

.column tr td {
  padding: 15px; }

.column-wrap {
  padding: 0 !important;
  margin: 0 auto;
  max-width: 1025px !important; }

.column table {
  width: 100%; }

.social .column {
  width: 280px;
  min-width: 279px;
  float: left; }

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear {
  display: block;
  clear: both; }
