/* -------------------------------------
		VARIABLES
------------------------------------- */

$font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$darkBlue:    #184996;
$bg-color:    #ECF2F9;
$jaune:       #ffe35e;
$jaune-pale:  #ffea85;
$jaune-fonce: #ffd200;
$lightGrey:   #f6f6f6;
$grey:        #dedede;
$darkGrey:    #555555;

/* couleurs pré-définies pour les éditeurs */
$typo-bleu:      $darkBlue;
$typo-bleuPale:  #92afd8;
$typo-bleuClair: #0291c0;
$typo-vert:      #002f2f;
$typo-turquoise: #048b9a;
$typo-violet:    #672b7d;
$typo-orange:    #ff9600;

/* -------------------------------------
		GLOBAL
------------------------------------- */

* {
	margin:0;
	padding:0;
}

* { font-family: $font-family }

.collapse {
	margin:0;
	padding:0;
}

body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width: 100%!important;
	height: 100%;
  background-color: $bg-color;
}

td {
  padding: 0 !important;
}

/* -------------------------------------
		ELEMENTS
------------------------------------- */

img {
	max-width: 100%;
}

a { color: $darkBlue; }

p { color: black; }

/* -------------------------------------
		HEADER
------------------------------------- */

table.head-wrap {
  width: 100%;
}

.jaune-fonce {
  background-color: $jaune-fonce;
}

.body-top {
  background-color: $darkBlue;
}

@mixin fond($color) {
  background-color: $color;
  min-width: 20px;
  width: 50%;
}

.fond-jaune {
  @include fond($jaune);
}
.fond-jaune-pale {
  @include fond($jaune-pale);
}

.header {
  p { margin: 0; }
}

.header.container img {
  max-width: none;
}

.title {
  background-color: $lightGrey;
  border-color: $grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  h1 {
    font-size: 25px;
    font-weight: bold;
    padding: 12px 10px 10px 10px;
    color: $darkGrey;
  }
}

/* -------------------------------------
		BODY
------------------------------------- */

table.body-wrap {
  width: 100%;
  padding-top: 20px;
}

.white-bg {
  background-color: white;
  border-collapse: collapse;
}

.white-bg > tbody > tr > td {
  padding: 0 40px;
  &> table {
    border-collapse: collapse;
    td {
      padding: 2px 10px;
    }
  }
}

/* -------------------------------------
		FOOTER
------------------------------------- */

table.footer-wrap {
  width: 100%;
  clear: both !important;
}

.footer-wrap .container td.content  p {
  border-top: 1px solid rgb(215,215,215);
  padding-top:15px;
}

.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
}

.disclaimer .container  {
  border-bottom-style: dotted;
  border-bottom-color: $darkBlue;
  border-bottom-width: 1px;
  img {
    padding: 0 0 4px 10px;
  }
  p {
    font-size: 13px;
    color: $darkBlue;
    padding: 10px;
    margin-bottom: 0 !important;
  }
}

.contact-info {
  padding-top: 20px;
  table {
    width: 100%;
  }
  p {
    color: $darkBlue;
    font-style: italic;
    line-height: 0.8;
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
    a {
      font-style: normal;
    }
  }
}

/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */

h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color: $darkBlue;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: $darkBlue; line-height: 0; text-transform: none; }

@mixin titre-bloc($couleur) {
  background-color: $couleur;
  color: white;
  padding: 4px 20px 3px 10px;
  display: inline-block;
  border-radius: 0 0 8px 8px;
  margin-top: 0;
}

.bloc-bleu {
  @include titre-bloc($typo-bleu);
}
.bloc-bleu-pale {
  @include titre-bloc($typo-bleuPale);
}
.bloc-bleu-clair {
  @include titre-bloc($typo-bleuClair);
}
.bloc-vert {
  @include titre-bloc($typo-vert);
}
.bloc-turquoise {
  @include titre-bloc($typo-turquoise);
}
.bloc-violet {
  @include titre-bloc($typo-violet);
}
.bloc-orange {
  @include titre-bloc($typo-orange);
}

h1 {
  font-size: 2em;
  margin: 6.25px 0 8.33333px 0;
}
h2 {
  font-size: 1.6667em;
  margin: 0 0 7.33333px 0;
}
h3 {
  font-size: 1.33333em;
  margin: 5px 0 6.66667px 0;
}
h4 {
  font-size: 1.2em;
  margin: 4.5px 0 6px 0;
}
h5 {
  font-size: 1.06667em;
  margin: 4px 0 5.33333px 0;
}
h6 {
  font-size: 0.93333em;
  margin: 3.5px 0 4.66667px 0;
}
p, caption {
  font-size: 0.8em;
  margin-bottom: 6px;
}
li {
  font-size: 1em;
  list-style-position: inside;
}
li li {
  font-size: inherit;
}

.collapse { margin:0!important;}

p, ul {
	margin-bottom: 10px;
	font-weight: normal;
	font-size:14px;
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:801px !important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}
.container.header {
	max-width:1025px!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	max-width:801px;
	margin:0 auto;
	display:block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
	width: 300px;
	float:left;
}
.column tr td { padding: 15px; }
.column-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:1025px!important;
}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }
